mixin voteItem(election, isFinite)
    -voteHref='/' + isFinite + '/' + election['electionAddress']
    a.list-group-item.list-group-item-action.flex-column.align-items-start(
    href=voteHref
    )
        .d-flex.w-100.justify-content-between
            h5.mb-1 #{election['electionName']}
            small
                | #{election['showDate']}
        p.mb-1
            h5 #{election['electionState']}
            | #{election['electionDescription']}
