extends ../base/layout

block content
    .container
        h1.display-5 #{user.username} 님의 정보
        hr
        h2 사용하고 계신 계정
        p #{user.etherAccount}
        hr
        h3 내가 참여한 투표 목록
        hr
        if(user.deployedVotes)
            h3 주최 투표 목록
            p #{user.deployedVotes}
        else
            .text-center
                p 아직 주최하고 있는 투표가 없네요!
                | 관리자에게 투표를 신청해보세요!

        a.btn.btn-primary.btn-lg.active(
        href="/voterequest"
        role="button"
        aria-pressed="true"
        ) 투표신청
