extends ../base/layout

block content
    .container
        if (!voteDetail)
            p 해당 주소의 투표가 존재하지 않습니다!
        else
            h1.display-4 #{voteDetail.summary[0]}
            if (voteDetail.summary[5])
                small (비밀투표)
            h5.my-1 상태:
                case voteDetail.summary[2]
                    when '0': b.text-muted 대기
                    when '1': b.text-primary 진행 중
                    when '2': b.text-success 일시중지
                    when '3': b.text-danger 종료
                    default: b.text-danger 오류
            p.lead #{voteDetail.summary[1]}
                br
                -voteDate = new Date(voteDetail.summary[3] * 1000).toLocaleString() + " ~ " + new Date(voteDetail.summary[4] * 1000).toLocaleString();
                | 기간 : #{voteDate}
            hr.my-4
            h3 후보자 목록
            -voterNumber = 0
            p
                .card-deck
                    each candidate in voteDetail.candidateList
                        -voterNumber += parseInt(candidate[2])
                        .card(style='width: 15rem;')
                            .card-body
                                h5.card-title #{candidate[0]}
                                p.card-text
                                    | 득표수 : #{candidate[2]}
                                -onClick = "window.open('" + candidate[1] + "')"
                                button.btn.btn-success(onclick=onClick) 공약보기
            if(voteDetail.summary[2] !== '0')
                h4 총 투표자 수 : #{voterNumber}
            if(user)
                if(voteDetail.voterState !== '2')
                    .text-center
                        -voteInPath = path + '/vote'
                        -voteButtonDisabled = voteDetail.summary[2] !== '1'
                        a.btn.btn-primary.btn-lg.active(
                            href=voteInPath
                            role="button"
                            aria-pressed="true"
                            disabled=voteButtonDisabled
                        ) 투표참여
                else
                    .text-center
                        button.btn.btn-primary.btn-lg.active(
                        role="button"
                        aria-pressed="true"
                        disabled
                        ) 이미 투표에 참여하셨습니다!
            if(voteDetail.owner)
                form(role='form', action=path, method="post", style='max-width: 300px;')
                    .form-group
                        .btn-group.btn-group-toggle(data-toggle='buttons')
                            label.btn.btn-primary.active
                                input#option1(type='radio', name='state', value='0' autocomplete='off')
                                |  대기
                            label.btn.btn-primary
                                input#option2(type='radio', name='state', value='1' autocomplete='off')
                                |  진행 중
                            label.btn.btn-primary
                                input#option3(type='radio', name='state', value='2' autocomplete='off')
                                |  일시중지
                            label.btn.btn-primary
                                input#option4(type='radio', name='state', value='3' autocomplete='off')
                                |  오류
                    button.btn.btn-primary(type='submit') 바꾸기